.svg-container svg {
  background-color: #eee;
}

.link {
  stroke: #ccc;
}

.link:hover {
  stroke: #999;
}

.node circle {
  fill: rgb(42, 134, 170);
  stroke: rgb(80, 80, 80);
  stroke-width: 1px;
  transition: all 0.2s ease-out;
}

.node circle:hover {
  stroke: rgb(68, 68, 68);
  stroke-width: 1.5px;
  transform: scale(1.5);
}

.node-tooltip {
  position: absolute;
  pointer-events: none;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.25em 0.75em;
  transform: translate(-50%, -150%);
  border-radius: 0.5em;
  transition: opacity 0.2s ease-out;
}
