.svg-container {
  background-color: #eee;
}

.link {
  stroke: #ccc;
}

.link:hover {
  stroke: #444;
}

.node circle {
  fill: rgb(42, 134, 170);
  stroke: rgb(80, 80, 80);
  stroke-width: 1px;
  transition: all 0.2s ease-out;
}

.node circle:hover {
  stroke: rgb(68, 68, 68);
  stroke-width: 1.5px;
  transform: scale(1.5);
}
